* {
	margin: 0;
	padding: 0;
}

body{
	overflow: hidden
}

svg {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
	float: left;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis--y path {
  display: none;
}

.axis text {
    font-family: sans-serif;
    font-size: 10px;
    fill: black;
}

.fareline {
  fill: none;
  stroke: #aaa;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 1.5px;
}

.traceline {
	stroke: RGBA(31, 186, 214, 1);
  stroke-width: 1px;
}