@import url(http://fonts.googleapis.com/css?family=Open+Sans);

*, *:after, *:before {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

body{
  overflow: hidden;
  background-size: 18px 18px;
}

#header {
  background: #fff url(https://d1a3f4spazzrp4.cloudfront.net/web-fresh/pattern-grid@1x.jpg) repeat left top;
  color: #000;
  padding-left: 25px;
  padding-bottom: 12px;
}

h1 {
  padding-top: 6px;
  padding-bottom: 0px;
  font-size: 34px;
}

h4 {
  color: white;
}

a:-webkit-any-link {
   text-decoration: none;
   color: RGBA(33, 188, 215, 1);
}

.name {
  color: RGBA(33, 188, 215, 1);
  position: absolute;
  right: 50px;
  top: 12px;
  text-align: right;
  text-decoration: none;
}

.travelalert {
  color: RGBA(246, 93, 151, 1);
}

.optionsdescriptions{

}

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.tick {
  fill: #fff;
  font-size: 11px;
}

.surgetrends--line {
  fill: none;
  stroke-width: 2px;
}

.surgetrends--line.MTWTF {
  stroke: RGBA(173, 221, 237, 1);
}

.surgetrends--dot.MTWTF {
  fill: RGBA(173, 221, 237, 1);
}

.surgetrends--line.SS {
  stroke: RGBA(33, 188, 215, 1);
}

.surgetrends--dot.SS {
  fill: RGBA(33, 188, 215, 1);
}

/*GRID*/
grid {
  margin: 0 0 20px 0;
}

.grid {
  background: #202024 url(https://d1a3f4spazzrp4.cloudfront.net/web-fresh/pattern-grid-dark@1x.gif) repeat left top;
  background-size: 18px 18px;
}

.grid:after {
  /* Or @extend clearfix */
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
  padding-right: 20px;
}
.grid [class*='col-']:last-of-type {
  padding-right: 0;
}

.col-2-3 {
  width: 66.66%;
}

.col-1-3 {
  width: 33.33%;
}

.col-1-2 {
  width: 50%;
}

.col-1-4 {
  width: 25%;
}

.col-5-8 {
  width: 62.5%;
}

.col-3-8 {
  width: 37.5%;
}

.col-1-8 {
  width: 12.5%;
}

.module {
  /*background: RGBA(255, 223, 241, 0.5);*/
}

/* Opt-in outside padding */
.grid-pad {
  padding: 20px 0 20px 20px;
}
.grid-pad [class*='col-']:last-of-type {
  padding-right: 20px;
}

/*DROPDOWN MENU*/
.custom-dropdown__select{
    font-size: 12px; /* inherit size from .custom-dropdown */
    padding: .5em; /* add some space*/
    margin: 0; /* remove default margins */
}

.custom-dropdown__select--white {
    background-color: RGBA(7, 7, 22, 1);
    color: #fff;
}

@supports (pointer-events: none) and
      ((-webkit-appearance: none) or
      (-moz-appearance: none) or
      (appearance: none)) {

    .custom-dropdown {
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }

    .custom-dropdown__select {
        padding-right: 2.5em; /* accommodate with the pseudo elements for the dropdown arrow */
        border: 0;
        border-radius: 3px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .custom-dropdown::before,
    .custom-dropdown::after {
        content: "";
        position: absolute;
        pointer-events: none;
    }

    .custom-dropdown::after { /*  Custom dropdown arrow */
        content: "\25BC";
        height: 1em;
        font-size: .625em;
        line-height: 1;
        right: 1.2em;
        top: 50%; margin-top: -.5em;
    }

    .custom-dropdown::before { /*  Custom dropdown arrow cover */
        width: 2em;
        right: 0; top: 0; bottom: 0;
        border-radius: 0 3px 3px 0;
    }

    .custom-dropdown__select[disabled] {
        color: rgba(225,225,225,.3);
    }

    .custom-dropdown.custom-dropdown--disabled::after {
        color: rgba(225,225,225,.1);
    }

    /* White dropdown style */
    .custom-dropdown--white::before {
        top: .5em; bottom: .5em;
        background-color: RGBA(7, 7, 22, 1);
        border-left: 1px solid rgba(225,225,225,.1);
    }

    .custom-dropdown--white::after {
        color: rgba(225,225,225,.9);
    }

    /* FF only temp fix */
    @-moz-document url-prefix() {
        .custom-dropdown__select             { padding-right: .9em }
        .custom-dropdown--large .custom-dropdown__select { padding-right: 1.3em }
        .custom-dropdown--small .custom-dropdown__select { padding-right: .5em }
    }
}
